*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}
body{
    background:#050510;
    color:#eee;
    overflow-x:hidden
}
.hero{
    height:100vh;
    background-image:url(mike.jpeg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    position:relative;
    overflow:hidden;
}
.hero::before{
    content:"";
    position:absolute;
    inset:0;
    background:rgba(0,0,0,0.45);
}
.hero::after{
    content:"";
    position:absolute;
    bottom:-60%;
    left:0;
    width:100%;
    height:60%;
    background-image:url(mike.jpeg);
    background-size:cover;
    background-position:center;
    transform:scaleY(-1);
    opacity:0.35;
    filter:blur(4px);
}
.content{
    position:relative;
    z-index:1;
    animation:glitch 6s infinite alternate;
}
.title{
    font-size:3.5rem;
    letter-spacing:5px;
    color:#ff003c;
    text-shadow:0 0 10px #ff1a4b,
    0 0 20px #ff1a4b,
    0 0 40px #ff1a4b;
}
.subtitle{
    margin:15px 0;
    font-weight:500;
    color:#ffffff;
}
.btn{
    display:inline-block;
    margin-top:25px;
    padding:12px 30px;
    border:2px solid #ff003c;
    color:#ff003c;
    background:rgba(0,0,0,0.6);
    font-weight:bold;
    text-decoration:none;
    transition:0.3s;
}
.btn:hover{
    background:#ff003c;
    color:#000;

}
.section{
    padding:70px 10%;
    text-align:center;
    position:relative;
    z-index:5;
}
.section h2{
    color:#ff003c;
    margin-bottom:20px;
    letter-spacing:2px;
}
.cards{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
    position:relative;
    z-index:2;
}
.card{
    width:260px;
    padding:25px;
    background:#111;
    border:1px solid #ff003c;
    transition:0.4s
}
.card:hover{
    transform:translateY(-10px);
    box-shadow:0 0 20px #ff003c;
}
.card h3{
    color:#ff003c;
    margin-bottom:10px;
}
footer{
    padding:20px;
    background:#000;
    text-align:center;
    color:#777;
}
@keyframes glitch{
    0%{
        transform:rotateX(0deg);
    }
    100%{
        transform:rotateX(180deg);
    }
}