*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}
body{
    background:#0f172a;
    color:white;
}
/*navbar*/
nav{
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:15px 50px;
    background:#020617;
    animation:slideDown 1s ease;
}
nav ul{
    display:flex;
    list-style:none;
}
nav ul li{
    margin-left:20px;
}
nav ul li a{
    color:white;
    text-decoration:none;
}
nav ul li a hover{
    color:#38bdf8;
}
.logo{
    color:#38bdf8;
}
.hero{
    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}
.profile-pic{
    width:150px;
    height:150px;
    border-radius:70%;
    overflow:hidden;
    margin-bottom:20px;
    border:4px solid #38bdf8;
    animation:float 3s ease-in-out infinite;
    box-shadow:0 0 20px #38bdf8;
}
.profile-pic img{
    width:100%;
    height:100%;
    object-fit:cover;
}
hero h1{
    color:#38bdf8;
}
.btn{
    margin-top:20px;
    padding:10px 25px;
    border:none;
    background:#38bdf8;
    cursor:pointer;
    border-radius:20px;
}
.btn-hover{
    transform:scale(1.1);
}
.fade-in{
    animation:fadeIN 2s ease;
}
.slide-in{
    animation:slideIN 1.5s ease;
}
@keyframes fadeIN{
    from{opacity:0;}
    to{opacity:1;}
}
@keyframes slideIN {
    from{transform:translateY(50px); opacity:0;}
    to{transform:translateY(0); opacity:1;}
}
@keyframes slideDown{
    from{transform:translateY(-100px);}
    to{transform:translateY(0);}
}
@keyframes float{
    0%{transform:translateY(0);}
    50%{transform:translateY(-10px);}
    100%{transform:translateY(0);}
}
section{
    padding:80px 50px;
    text-align:center;
}
.skills{
    text-align:center;
}
.card-container{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-top:30px;
    flex-wrap:wrap;
}
.skill-card{
    background:#020617;
    width:220px;
    padding:25px;
    border-radius:20px;
    transition:0.4s;
    box-shadow:0 10px 30px rgba(0,0,0,0.4);
}
.skill-card img{
    width:80px;
    margin-bottom:15px;
}
.skill-card h3{
    margin-bottom:10px;
    color:#38bdf8;
}
.skill-card p{
    font-size:14px;
    opacity:0.8;
}
.skill-card:hover{
    transform:translateY(-15px) scale(1.05);
    background-color:#38bdf8;
    color:black;
}
.skill-card:hover h3{
    color:black;
}