*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}
body{
    height:100vh;
    background-image:url("temperature.jpg");
    background-size:cover;
    background-position:center;
    background-repeat: non-repeat;
    display:flex;
    justify-content:center;
    align-items:center;
}
.container{
    background:rgba(255,255,255,0.9);
    padding:70px;
    width:500px;
    border-radius:12px;
    box-shadow:0 10px 25px rgba(0,0,0,0.3);
    text-align:center;
}
.container h1{
    margin-bottom:20px;
    color:#333;
}
.box input,
.box select{
    width:100%;
    padding:10px;
    margin-bottom:15px;
    border-radius:6px;
    border:1px solid #ccc;
    font-size:16px;
}
.box button{
    width:100%;
    padding:10px;
    background:#1abc9c;
    border:none;
    color:white;
    font-size:16px;
    cursor:pointer;
}
.box button:hover{
    background:#16a085;
}
.result{
    margin-top:15px;
    font-size:18px;
    font-weight:bold;
    color:#333;
}